body{
	font-family: "Source Sans Pro", sans-serif;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav#header{
	width: 100%;
	height: 42vw;
	background-image: url("../imgs/b-img-ph.jpg");
	background-position: center center;
	background-size: cover;
}

nav#header>div{
	width: 80%;
	margin: 0 auto;
	padding-top: 3rem;
}

#title-head{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

li#title-text>a{
	color: #000;
	font-size: 3rem;
	font-family: "Josefin Sans", sans-serif;
	letter-spacing: 3rem;
}

li#title-text{
	display: flex;
	align-items: center;
}

#title-head>li>h2{
	font-weight: 300;
	font-size: 4rem;
}

#title-sh{
	font-size: .5rem;
	font-weight: 300;
	letter-spacing: .75rem;
	display: inline;
	font-family: "Josefin Sans", sans-serif;
	text-align: center;
}

#title-sh h2{
	padding-bottom: 0;
	margin: 0;
}

#camp-links{
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 5rem;
}

#camp-links a{
	text-decoration: none;
	color: #000;
	font-family: "Josefin Sans", sans-serif;
	font-weight: 300;
	font-size: 1.75rem;
	padding: .5rem;
}

#camp-links a:hover{
	color: #fff;
	background-color: #FA6767;
}

#camp-links li{
	margin: 1rem 0;
}

.box{
	width: 100%;
	height: 50vw;
	display: flex;
}

.box>div{
	width: 50vw;
	height: 50vw;
}

.box:last-child{
	display: inline;
}

.desc{
	width: 80%;
	margin: 0 auto;
	color: #fff;
}

.desc>h2{
	font-size: 3rem;
	margin-bottom: .25rem;
}

.desc>p{
	margin-top: .25rem;
}

.box-desc-3d{
	background-color: #FA6767;
	background-image: url("../imgs/kaneko-logo-tl.png");
	background-size: cover;
	background-position: center center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.box-img-3d{
	background-image: url("../imgs/3dcamp-1.jpg");
	background-size: cover;
	background-position: center center;
}

.box-desc-vg{
	background-color: #74B2FB;
	background-image: url("../imgs/kaneko-logo-br.png");
	background-size: cover;
	background-position: center center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.box-img-vg{
	background-image: url("../imgs/vgcamp-1.jpg");
	background-size: 250%;
	background-position: -250px -400px;
}

.toggle-vg{
	width: 30%;
	padding: 1rem;
	border: solid 2px #fff;
	cursor: pointer;
	text-align: center;
	font-size: 1rem;
	transition: font-size .2s ease-in-out;
}

.toggle-vg:hover{
	font-size: 1.5rem;
}

.toggle-3d{
	width: 30%;
	padding: 1rem;
	border: solid 2px #fff;
	cursor: pointer;
	text-align: center;
	font-size: 1rem;
	transition: font-size .2s ease-in-out;
}

.toggle-3d:hover{
	font-size: 1.5rem;
}

#close-btn{
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 0 auto;
	padding-top: 1rem;
}

.extra{
	width: 100%;
	display: flex;
	padding-top: 3rem;
	padding-bottom: 3rem;
	flex-wrap: wrap;
	color: #fff;
	display: none;
}

.x-group{
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-bottom: 3rem;
}

#x-3d{
	background-color: #FA6767;
}

#x-vg{
	background-color: #74B2FB;
}

.x-info{
	width: 40%;
}

.x-info>h2{
	margin-bottom: .5rem;
}

.x-info>p{
	margin-top: .5rem;
	font-weight: 300;
}


/*CURRICULUM*/
.curriculum{
	width: 100%;
	background-color: #fff;
}

.curriculum>h2{
	font-weight: 300;
	font-size: 4rem;
	padding: 1.5rem 0;
	margin: 0;
	color: #FA6767;
	text-align: center;
}

.box-cur{
	width: 100%;
	height: 25vw;
	display: flex;
}

.cur-desc{
	width: 50%;
	height: 100%;
}

.cur-desc-text{
	width: 100%;
	height: 50%;
}

#cur-desc-top{
	background-color: #E6E6E6;
	display: flex;
	justify-content: center;
	align-items: center;
}

#cur-desc-top>ul{
	width: 60%;
	color: #000;
	font-size: 1.25rem;
}

#cur-desc-btm{
	background-color: #CCCCCC;
	display: flex;
	justify-content: center;
	align-items: center;
}

#cur-desc-btm>ul{
	width: 60%;
	color: #000;
	font-size: 1.25rem;
}

.cur-img{
	width: 50%;
	height: 100%;
}

#cur-day{
	padding-top: 1.25rem;
	padding-left: 2rem;
	padding-right: 2rem;
	color: #fff;
	font-size: 4rem;
	margin: 0;
}

#vg-cur-title{
	color: #74B2FB;
}


#vgday1{
	background-image: url("../imgs/vgcamp/vgday1.jpg");
	background-size: cover;
	background-position: center center;
}


#vgday2{
	background-image: url("../imgs/vgcamp/vgday2.jpg");
	background-size: cover;
	background-position: center center;
	display: flex;
	justify-content: flex-end;
}

#vgday3{
	background-image: url("../imgs/vgcamp/vgday3.jpg");
	background-size: cover;
	background-position: center center;
}

#vgday4{
	background-image: url("../imgs/vgcamp/vgday4.jpg");
	background-size: 150%;
	background-position: center center;
	display: flex;
	justify-content: flex-end;
}

#tdday1{
	background-image: url("../imgs/3dcamp/3dday1.jpg");
	background-size: cover;
	background-position: center center;
}


#tdday2{
	background-image: url("../imgs/3dcamp/3dday2.jpg");
	background-size: cover;
	background-position: center center;
	display: flex;
	justify-content: flex-end;
}

#tdday3{
	background-image: url("../imgs/3dcamp/3dday3.jpg");
	background-size: 200%;
	background-position: center center;
}

#tdday4{
	background-image: url("../imgs/3dcamp/3dday4.jpg");
	background-size: 150%;
	background-position: center center;
	display: flex;
	justify-content: flex-end;
}

#tdday5{
	background-image: url("../imgs/3dcamp/3dday5.jpg");
	background-size: 150%;
	background-position: left center;
}

#tdday6{
	background-image: url("../imgs/3dcamp/3dday6.jpg");
	background-size: cover;
	background-position: center center;
	display: flex;
	justify-content: flex-end;
}

#tdday7{
	background-image: url("../imgs/3dcamp/3dday7.jpg");
	background-size: cover;
	background-position: center center;
}

#tdday8{
	background-image: url("../imgs/3dcamp/3dday8.jpg");
	background-size: cover;
	background-position: center center;
	display: flex;
	justify-content: flex-end;
}




/*FOOTER*/

footer{
	width: 100%;
	height: 10vw;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.f-menu{
	width: 90%;
}

.f-menu ul{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.f-menu li{
	list-style-type: none;
/*	padding:0 5rem;*/
}

.f-menu a{
	text-decoration: none;
	color: #000;
}